@page
@model FoodKept.Pages.FoodPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container container_mt">
    <h1>Create</h1>

    <h4>Food</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Food.CurrentPrice" />
                <div class="form-group">
                    <label asp-for="Food.FoodName" class="control-label"></label>
                    <input asp-for="Food.FoodName" class="form-control" />
                    <span asp-validation-for="Food.FoodName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Food.Price" class="control-label"></label>
                    <input asp-for="Food.Price" class="form-control" />
                    <span asp-validation-for="Food.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Food.Quantity" class="control-label"></label>
                    <input asp-for="Food.Quantity" class="form-control" />
                    <span asp-validation-for="Food.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Food.FoodCategory" class="control-label"></label>
                    <select asp-for="Food.FoodCategory" asp-items="Model.EnumCategories" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FoodImage" class="control-label"></label>
                    <input asp-for="FoodImage" class="form-control" />
                    <span asp-validation-for="FoodImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark pl-3 pr-3 mt-0 mb-0" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
