@page
@model FoodKept.Pages.FoodCustomer.CartModel
@{
}


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Restaurant
            </th>
            <th>
               Price
            </th>
            <th>
                Discount
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                3
            </td>
            <td>
                4
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(Model => Model.Food.FoodName)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Food.ApplicationUser.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Food.Price)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Food.Discount)
            </td>
        </tr>

    </tbody>
</table>
