@page
@model PrivacyModel
@{
}
<div class="container container_mt">
    <h1>Registered</h1>
    <p>You have to confirmed as a restaurant by admin</p>
    <p>Confirmation letter will be sent to your email</p>
</div>
