@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To FoodKept</h1>
    <p>Buy food at a discount, while minimizing food waste.</p>
</div>
