@page
@model FoodKept.Pages.RegisterModell
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModell.Email">Email Address</label>
                    <input type="text" asp-for="RegModell.Email" class="form-control" />
                    <span asp-validation-for="RegModell.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModell.RestaurantName">Restaurant Name</label>
                    <input type="text" asp-for="RegModell.RestaurantName" class="form-control" />
                    <span asp-validation-for="RegModell.RestaurantName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="container ml-0 pl-0 mr-0 pr-0">
                        <div class="row">
                            <div class="col ml-auto">
                                <label class="form-label" asp-for="RegModell.Country">Country</label>
                                <input type="text" asp-for="RegModell.Country" class="form-control" />
                                <span asp-validation-for="RegModell.Country" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label class="form-label" asp-for="RegModell.City">City</label>
                                <input type="text" asp-for="RegModell.City" class="form-control" />
                                <span asp-validation-for="RegModell.City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModell.Address">Street Adress</label>
                    <input type="text" asp-for="RegModell.Address" class="form-control" />
                    <span asp-validation-for="RegModell.Address" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModell.Password">Password</label>
                    <input type="password" asp-for="RegModell.Password" class="form-control" />
                    <span asp-validation-for="RegModell.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModell.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="RegModell.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="RegModell.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div> 
</div>
